@charset "UTF-8";
.blocks-with-side, .block-with-side {
		list-style: none;
		margin: 0;
		padding: 0;
		flex: 0 0 auto;
		width: 100%;
}
.blocks-with-side {
		display: flex;
		flex-direction: column;
		gap: 20px;
}
*:not(.top-title) + .blocks-with-side {
		margin-top: var(--blocks-margin);
}
.block-with-side {
		display: flex;
		flex-wrap: wrap;
		border: 1px solid var(--border-grey);
		border-radius: 22px;
		background: var(--white);
		overflow: hidden;
		backface-visibility: hidden;
		transform: translateZ(0);
		color: var(--black);
		font-size: 18px;
		line-height: 1.4;
		text-align: left;
		font-weight: normal;
		margin: 0 auto;
		width: 100%;
		flex: 0 0 auto;
}
.block-with-side > * {
		flex: 0 0 auto;
		width: 100%;
		padding: 50px 30px;
		position: relative;
}
.block-with-side .tags {
		position: absolute;
		top: 16px;
		right: 16px;
}
.block-with-side .text {
		display: flex;
		flex-direction: column;
		gap: 20px;
}
.block-with-side .text.small {
		font-size: 16px;
}
.block-with-side .text .title {
		font-size: 27px;
		line-height: 1.3;
}
.block-with-side .text.big-descr1 {
		text-align: justify;
}
.block-with-side .text.big-descr1 > *:not(.title), .block-with-side .text.big-descr2 > *:not(.title) {
		color: var(--grey);
}
.block-with-side .text.big-descr1 .title {
		font-size: 24px;
		line-height: 1.1;
}
.block-with-side .text.big-descr2 {
		font-size: 16px;
}
.block-with-side .text.big-descr2 .title {
		font-size: 21px;
		line-height: 1.3;
}
.block-with-side .text.big-descr1 a:not(.btn), .block-with-side .text.big-descr2 a:not(.btn) {
		text-decoration: none;
}
@media (pointer:fine) {
		.block-with-side .text.big-descr1 a:not(.btn):hover, .block-with-side .text.big-descr2 a:not(.btn):hover {
				text-decoration: underline;
		}
}
.block-with-side .text.big-descr3 {
		gap: 10px;
		color: var(--grey);
		text-align: justify;
		line-height: 1.5;
}
.block-with-side .text.big-descr3 .title {
		color: var(--black);
		font-size: 33px;
		text-align: left;
}
.block-with-side .text.big-descr3 .small {
		font-size: 14px;
		margin-bottom: 20px;
		text-align: left;
}
.block-with-side .head, .block-with-side .side {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
}
.block-with-side .head {
		border-style: solid;
		border-width: 0 0 1px 0;
		border-color: var(--border-grey);
}
.block-with-side .head.center {
		text-align: center;
		align-items: center;
		justify-content: center;
}
.block-with-side .head .btn {
		min-width: 220px;
}
.block-with-side .head .btn:not(:first-child) {
		margin-top: -10px;
}
.block-with-side .head:before {
		content: '';
		position: absolute;
		width: 215px;
		height: 215px;
		border-radius: 50%;
		top: -155px;
		left: -125px;
		margin: -10px;
}
.block-with-side.bg-blue .head:before {
		background: linear-gradient(180deg, #E0FFF0 0%, #E5FAFF 100%);
}
.block-with-side.bg-purple .head:before {
		background: #E1DFFF;
}
.block-with-side.bg-red .head:before {
		background: #FFE2E6;
}
.block-with-side .title-big {
		font-weight: 600;
		font-size: 24px;
}
.block-with-side .side .title-big {
		font-weight: 500;
		font-size: 30px;
		margin-bottom: -10px;
}
.block-with-side .title-small {
		font-weight: 500;
		font-size: 21px;
		letter-spacing: -0.03em;
}
.block-with-side .arrow-links, .block-with-side .arrow-links li {
		list-style: none;
		margin: 0;
		padding: 0;
}
.block-with-side .arrow-links:not(:first-child) {
		margin-top: 20px;
}
.block-with-side .arrow-links {
		font-weight: 500;
		font-size: 12px;
		line-height: 1.6;
		color: var(--grey);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
}
.block-with-side .arrow-links.big {
		gap: 16px;
}
.block-with-side .side .arrow-links, .block-with-side .side .arrow-link {
		margin-top: auto;
}
.block-with-side .arrow-links a, .block-with-side .arrow-link a {
		display: inline-block;
		vertical-align: top;
		position: relative;
		color: var(--black);
		text-decoration: none;
		font-weight: 500;
		line-height: 1.4;
		padding-right: 25px;
}
.block-with-side .arrow-links a {
		font-size: 14px;
}
.block-with-side .arrow-links.big a, .block-with-side .arrow-link a {
		font-size: 16px;
}
.block-with-side .arrow-links a:after, .block-with-side .arrow-link a:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 20px;
		height: 20px;
		margin: -10px 0;
		transform: translate3d(0, 0, 0);
		transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
		background: url("../img/arrow-right-long.svg") no-repeat 50% 50%;
		background-size: contain;
		pointer-events: none;
}
@media (pointer:fine) {
		.block-with-side .arrow-links a:hover, .block-with-side .arrow-link a:hover {
				text-decoration: underline;
		}
		.block-with-side .arrow-links a:hover:after, .block-with-side .arrow-link a:hover:after {
				transform: translate3d(2px, 0, 0);
		}
}
.block-with-side .side {
		background-repeat: no-repeat;
		background-position: 100% 162px, 50% 50%;
		background-size: auto 222px, 100% 100%;
}
.block-with-side.bg-blue .side {
		background-image: url("../img/bg-squares/blue.svg"), linear-gradient(180deg, #E0FFF0 0%, #E5FAFF 100%);
}
.block-with-side.bg-purple .side {
		background-image: url("../img/bg-squares/red0.svg"), linear-gradient(178.16deg, #DEDDFF 1.56%, #FFF3F3 98.44%);
}
.block-with-side.bg-red .side {
		background-image: url("../img/bg-squares/yellow.svg"), linear-gradient(178.16deg, #FFE1E6 1.56%, #FFF7D6 98.44%);
}
.block-with-side.bg-pink .side {
		background-image: url("../img/bg-squares/pink.svg"), linear-gradient(180deg, #D4F7FF 0%, #FFD0E9 100%);
}
.block-with-side .side .small {
		opacity: 0.5;
		font-weight: normal;
		font-size: 16px;
		letter-spacing: -0.03em;
		margin-bottom: -20px;
		margin-top: -0.18em;
}
.block-with-side .mini-checklist {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
		font-weight: normal;
		font-size: 14px;
		line-height: 1.4;
		flex: 1 0 auto;
		gap: 10px var(--gap);
}
.block-with-side .mini-checklist:not(:last-child) {
		margin-bottom: 20px;
}
.block-with-side .mini-checklist li {
		background-image: url("../img/done-black.svg");
		background-size: auto 18px;
		background-position: 0 calc(0.7em - 9px);
		padding-left: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
		.block-with-side {
				flex-direction: row;
				flex-wrap: wrap;
		}
		.block-with-side > * {
				width: 50%;
		}
		.block-with-side .text {
				width: 100%;
		}
		.block-with-side .text:not(:first-child) {
				order: 2;
		}
		.block-with-side .text:first-child, .block-with-side .text:first-child + * {
				width: 100%;
		}
}
@media only screen and (min-width: 1024px) {
		.block-with-side > *:not(.side) {
				padding-left: 50px;
				padding-right: 50px;
		}
}
@media only screen and (min-width: 1280px) {
		.block-with-side {
				flex-direction: row;
		}
		.block-with-side .head {
				width: 320px;
				border-width: 0 1px 0 0;
		}
		.block-with-side .head:before {
				margin: 0;
		}
		.block-with-side .side {
				width: 340px;
		}
		.block-with-side .text:first-child {
				width: calc(100% - 340px);
		}
		.block-with-side .text:not(:first-child) {
				width: calc(100% - 660px);
		}
}