@charset "UTF-8";
.form-input {
		position: relative;
}
.form-input .input-label, .form-input input, .form-input textarea {
		text-align: left;
		font: normal 18px var(--font);
		color: var(--black);
		-webkit-appearance: none;
		outline: none;
		border: 1px solid var(--bg-grey);
		background: var(--bg-grey);
		border-radius: 16px;
		padding: 36px 8px 14px 19px;
		letter-spacing: -0.02em;
}
.form-input input::-webkit-input-placeholder, .form-inputtextarea::-webkit-input-placeholder {
		opacity: 1;
		color: var(--grey);
}
.form-inputinput::-moz-placeholder, .form-inputtextarea::-moz-placeholder {
		opacity: 1;
		color: var(--grey);
}
.form-inputinput:-ms-input-placeholder, .form-inputtextarea:-ms-input-placeholder {
		opacity: 1;
		color: var(--grey);
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
		opacity: 0 !important;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
		opacity: 0 !important;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
		opacity: 0 !important;
}
.form-input input, .form-input textarea {
		transition-property: border, background;
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.form-input input:focus, .form-input textarea:focus {
		background-color: var(--white);
		border-color: var(--border-grey);
}
.form-input textarea {
		height: 120px;
}
.form-input .input-label {
		pointer-events: none;
		border-color: transparent;
		background: none;
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-top: 25px;
		padding-right: 0;
		padding-bottom: 0;
		border-radius: 0;
		color: var(--grey);
		transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
		transform-origin: 20px 0;
}
.form-input input:not(:placeholder-shown) ~ .input-label, .form-input input:focus ~ .input-label, .form-input textarea:not(:placeholder-shown) ~ .input-label, .form-input textarea:focus ~ .input-label {
		transform: scale(0.666666);
}
.form-checks {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		text-align: left;
		font-size: 16px;
		line-height: 1.4;
		letter-spacing: -0.02em;
		color: var(--black);
}
.form-checks > * {
		flex: 0 0 auto;
		max-width: 100%;
}
.form-checks label {
		cursor: pointer;
		user-select: none;
		padding: 0 0 0 32px;
		position: relative;
}
.form-checks input {
		position: absolute;
		opacity: 0;
}
.form-checks .checkbox {
		position: absolute;
		top: 0.7em;
		left: 0;
		margin: -10px 0;
}
.checkbox {
		position: absolute;
		cursor: pointer;
		user-select: none;
		width: 20px;
		height: 20px;
		background: var(--bg-grey);
		border-radius: 5px;
		transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.checkbox:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: url("../img/check-big-white.svg") no-repeat 50% 50%;
		background-size: 10px auto;
		transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
		opacity: 0;
}
input:checked + .checkbox {
		background-color: var(--black);
}
input:checked + .checkbox:before {
		opacity: 1;
}
.form-grid {
		display: flex;
		flex-direction: column;
		gap: 40px;
		container-type: inline-size;
		container-name: form-grid;
}
.form-grid > * {
		flex: 0 0 auto;
		width: 100%;
}
.form-row {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
}
.form-el {
		flex: 0 0 auto;
		width: 100%;
}
@container form-grid (min-width: 680px) {
		.form-el:not(:only-child) {
				width: calc((100% - 10px) / 2);
		}
}